@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --manrope: "Manrope", sans-serif;
  --dark-moss-green: #384508;
  --white: #ffffff;
  --black: #000000;
  --gray: #777777;
  --platinum: #d9d9d9;
  --silver: #a3a3a3;
  --anti-flash-white: #ededed;
  --mindaro: #d2fd9c;
  --avocado: #77912a;
  --dark-avocado: #629111;
}

@theme inline {
  --background: var(--white);
  --foreground: var(--gray);
  --font-manrope: var(--manrope);
  --color-background-1: var(--dark-moss-green);
  --color-background-2: var(--white);
  --color-background-3: var(--anti-flash-white);
  --color-accent-1: var(--mindaro);
  --color-accent-2: var(--avocado);
  --color-accent-3: var(--dark-avocado);
  --color-heading: var(--dark-moss-green);
  --color-paragraph-1: var(--black);
  --color-paragraph-2: var(--gray);
  --color-sub-heading: var(--silver);
  --color-overlay: var(--platinum);
}

@theme {
  --breakpoint-tablet: 50rem;
  --breakpoint-desktop: 80rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-manrope;
  }
}

@utility heading-1 {
  @apply tablet:text-4xl desktop:text-[2.625rem] text-[1.75rem] leading-[1.058] -tracking-[0.02em];
}

@utility heading-2 {
  @apply tablet:text-[1.75rem] desktop:text-[2rem] text-[1.375rem] leading-[1.09] -tracking-[0.02em];
}

@utility heading-3 {
  @apply text-xl leading-[1.09] -tracking-[0.02em];
}

@utility paragraph {
  @apply text-base leading-[1.09];
}

@utility caption {
  @apply text-base leading-[1.058] -tracking-[0.02em];
}

@utility link {
  @apply tablet:text-[0.71875rem] tablet:leading-[1.15] desktop:text-xs text-[0.6875rem] font-medium leading-tight -tracking-[0.02em];
}

@utility link-1 {
  @apply link text-accent-1 hover:underline;
}

@utility btn {
  @apply paragraph bg-accent-1 hover:bg-[#619111];
}
